*
{
	margin: 0;
	padding: 0;
}
header
{
	background: cyan;

}
#contenedor
{
	background: #AAAAAA;
}
#nav
{
	background: lightblue;
}
#contenido
{
	background: #666666;
}

footer
{
	background: cyan;
}