*
{
	margin: 0;
	padding: 0;
}
header
{
	background: cyan;

}
#contenedor
{
	display: flex;
	width:100%;
	flex-wrap: wrap;
	flex-direction: row;
}
#navegador
{
	background: lightblue;
}
ul
{
	list-style-type: none;
	text-decoration: none;
}

#contenido
{
	background: #666666;
}

footer
{
	background: cyan;
}