*
{
	margin: 0;
	padding: 0;
}
html
{
	height: 100%;
}
body
{
	width:80%;
	margin: auto;
	height: 100%;
	font-size: 1.75em;
	min-height: 300px;
	
}
header, footer
{
	background: rgb(221,212,232);
	min-height: 15%;
	width: 100%;
}
#contenedor
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width:100%;
	background: lightblue;
	height: 100%;
}

#navegador
{
	width: 35%;
	height: auto:;
}
ul
{
	list-style-type: none;
	margin-left: 10%;
}

.Encabezado
{
	color: black;
}
a
{
	text-decoration: none;
}

/* Creamos el efecto de lista deplegable*/
#lista-1, #lista-2, #lista-3
{
	display: none;
}
#desplegable-1:hover>#lista-1, #desplegable-2:hover>#lista-2, #desplegable-3:hover>#lista-3
{
	display: block;
}


/* Damos estilo a la parte del contenido*/
#articulo
{
	width: 64.5%;
	min-width: 400px;
	height: auto;
}

