*
{
	margin: 0;
	padding: 0;
}

body
{
	width:100%;
	margin: auto;
	height: auto;
	font-size: 1.75em;
	min-height: 300px;
	max-height: 900px;
	background: rgb(221,212,232);
}
h1
{
	text-align: center;
}

article
{
	text-align: justify;
	padding:1%;
}
/*h2, p
{
	float:right;
}
img
{
	float: right;
}*/
#imagen1, #imagen2, #imagen3
{
	float: left;
	height: 40%;
	width: 30%;
	padding:1%;
}
#imagen4, #imagen4, #imagen5
{
	float: left;
	height: 20%;
	width: 20%;
	padding:1%;
}
/*.texto
{
	float:right;
	padding: 1%;
	width:49%;
}

.imagen
{
	float:left;
	width:49%;
}*/